.cityButtonContainer {
	display: inline-block;
}

.cityButtonGroup {
	display: inline-block;
}

.titleText {
	display: inline-block;
    margin-right: 10px;
}

.cityButton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}


.none {
	display:none;
}

html, body {
    height:100%;
    padding:0;
    margin:0;
}
#map {
    height: 100%;
}

#first {
    height: 100%;
}

#firstCountries {
    position: absolute;
    width: 15%;
    top: 20px;
    left: 20px;
}

#exploreButton {
    position: absolute;
    bottom: 40px;
    left: 45%
}

#backToMap {
    position: fixed;
    right:5.5%;
    
    z-index: 2;
    margin-top: 50px;
   
}

.pic-container {
    position: absolute;
    top: 50px;
    width: 100%;
}

.galleryDiv {
    margin-bottom: 70px;
}

.cityTitle {
    margin-left: 75px;
}

.dateContainer {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 15%;
    padding-top: 17px;
}

p.date-picker {
    color: rgb(245,86,41);
    font-size: 20px;
}