html {
   font-family:  'Varela Round', sans-serif;

}
.cityButtonContainer {
    display: inline-block;
}

.cityButtonGroup {
    display: inline-block;
}

.titleText {
    display: inline-block;
    margin-right: 10px;
}

.cityButton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.none {
    display:none;
}

html, body {
    height:100%;
    padding:0;
    margin:0;
}
#map {
    height: 100%;
}

#first {
    height: 100%;
}


#exploreButton {
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 30%;
    transform: translate(-30%, -30%);
}

#backToMap {
    position: fixed;
    right:5.5%;
    z-index: 2;
    margin-top: 50px;
   
}

.pic-container {
    position: absolute;
    top: 50px;
    width: 100%;
}

.galleryDiv {
    margin-bottom: 70px;
}

.cityTitle {
    margin-left: 75px;
}



 #btn-close-modal {
    width:100%;
    text-align: center;
    cursor:pointer;
    color:#fff;
}


#closebtn-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.closebtn {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

.closebtn:hover {
    transform:rotate(90deg);
}

img {
    vertical-align: middle;
    border: 0;
}

#modal-title {

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 3rem;
    color: white;
}

#credo {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 1.4rem;
    margin:0 0 20px 0;
    color: white;

}

.title-chapter {
    text-align: center;
    font-size: 1.5rem;
    color: #576366;
    font-family: 'Varela Round', sans-serif;
}

.main-container {
    background-color: white;
    width: 100%;
    min-height: 100px;
    position: relative;
    padding: 45px 0px 40px 0px;
    float: left;
    overflow: hidden;

}
.text-chapter {
    color: #576366;
    font-family: 'Varela Round', sans-serif;
}


#footer-title {
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2rem;
}

#envelope-link {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

#envelope-link a {
    padding-left: 5px;
}
.contact-link, .contact-link:hover {
    color: white;
}
#footer-text {
    padding-top: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.8rem;
    color: white;
}

#heart {
    color: red;
}



.cd-btn, .cd-btn:hover {
    position: absolute;
    top:15px;
    left:35px;
    font-size: 4rem;
    color: rgb(255, 146, 138);
}



 
.cd-panel-header {
    /*...*/
    width: 24%;
    background: rgb(255, 146, 138);
 }
  
 
@media only screen and (max-width: 500px) {
  .cd-panel-header {
    width: 70%;
  }
}
.cd-panel-container {
 
    width: 24%;  
    background: white;
}




@media only screen and (max-width: 500px) {
  .cd-panel-container {
    width: 70%;
  }
}

#firstCountries, .dateContainer [type='text'] {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #576366;
}

p.date-picker {
    margin:0;
    color: rgb(255, 101, 102);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#bar-header-title {
    color: white;
    font-size: 22px;
    margin: 8px 0px 0px 17px;
}

.modal-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.dateContainer {
    margin-bottom: 30px;
}

/**animation loading*/

#floatingCirclesG{
    background: url("public/img/spinner.svg")
    position:absolute;
    bottom: 40%;
    left: 45%;
    width:176px;
    height:176px;
}
